Django==4.2.0
djangorestframework==3.14.0
django-cors-headers==4.0.0
python-dotenv==1.0.0
celery==5.3.0
redis==4.5.5
pillow>=10.4.0
stripe>=10.0.0
django-filter==23.1
channels==4.0.0
channels-redis==4.1.0
gunicorn>=25.0.0
whitenoise==6.4.0
dj-database-url==2.2.0
djangorestframework-simplejwt==5.2.2
setuptools<81
psycopg2-binary==2.9.9
